Repository openPMD/openPMD-validator, pull requests merged in 2018-04, with the labels that each got.

#36 `openPMDextension`: Replace ID with String
  openpmd_validator/check_h5.py
  openpmd_validator/createExamples_h5.py
Labels: example creation, format: h5, validator

#38 New Attribute: speciesType
  openpmd_validator/check_h5.py
  openpmd_validator/createExamples_h5.py
Labels: example creation, validator

#39 ED-PIC: Remove proton/neutron Number
  openpmd_validator/check_h5.py
Labels: validator

#37 unitSI: required -> recommended
  openpmd_validator/check_h5.py
Labels: validator

#40 Create arrays that represent the dimension of each grid axis
  openpmd_validator/check_h5.py
  openpmd_validator/createExamples_h5.py
Labels: enhancement, validator
